header {
    position: relative;
    background-image: url(../img/2.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    h1 {
        font-family: 'Alex Brush', cursive;
        font-style: italic;
        font-size: 120px;
        color: #ffff;
        margin: 0;
        padding: 0;
        line-height: 1;
        color: whitesmoke;
    }
    h2,
    h3 {
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    h2 {
        font-size: 50px;
        line-height: 1;
        font-weight: 600;
        font-style: oblique;
        margin-top: 60px;
        margin-bottom: 30px;
        padding: 0;
    }
    h3 {
        font-size: 40px;
        line-height: 1;
        font-weight: 300;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 40px;
        padding: 0;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: #ffff;
        width: 130px;
        font-family: 'Alegreya', serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
    }
    button a {
        width: 100px;
        font-size: 20px;
        line-height: 1;
        padding: 0;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
    a:hover {
        color: grey;
    }
    button.pure-button {
        background-color: #296f4e;
        border: 2px double black;
        border-radius: 2px;
    }
    .top-slider {
        width: 85%;
        margin: auto;
    }
}

//medium screen
body {
    @media screen and (max-width: 900px) {
        .top-slider {
            width: 100%;
        }
        header {
            background-size: 100% 80%;
            h1 {
                font-size: 80px;
                text-shadow: teal 1px 1px;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 15px;
                margin-top: 6%;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 25px;
            }
            a {
                max-width: 100%;
                font-size: 20px;
                width: 80px;
            }
            nav {
                padding: 15px;
                padding-top: 20px;
            }
            img {
                width: 250px;
                height: auto;
                margin: auto;
            }
        }
    }
}

body {
    @media screen and (max-width: 750px) {
        header {
            nav {
                justify-content: space-around;
            }
        }
    }
}

body {
    @media screen and (max-width: 550px) {
        header {
            div.item {
                padding-left: 30px;
            }
            nav {
                padding: 10px 0 10px 0;
                a {
                    width: 65px;
                    font-size: 17px;
                }
            }
            h1 {
                font-size: 70px;
            }
            h2 {
                font-size: 20px;
            }
            h3 {
                font-size: 20px;
            }
            button a {
                width: 60px;
                font-size: 15px;
            }
            img {
                width: 200px;
            }
        }
    }
}

body {
    @media screen and (max-width: 440px) {
        header {
            img {
                width: 150px;
            }
            h1 {
                font-size: 40px;
            }
            h3 {
                padding: 0 0 3% 0;
                margin: 0;
            }
            h2 {
                padding: 0 0 3% 0;
                margin: 0;
            }
            button a {
                width: 40px;
                font-size: 12px;
            }
            .item button {
                padding: 0 10px 0 10px;
                border-radius: 2px;
            }
            nav {
                padding: 10px 0 10px 0;
                a {
                    width: 50px;
                    font-size: 15px;
                    padding: 0 5px 0 5px;
                }
            }
            div.item {
                padding-left: 10px;
            }
        }
    }
}

