.thirdsection {
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: normal;
    .container {
        border-top: 3px solid gray;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    div.forms {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 0 10px 0 10px;
    }
    button {
        border-radius: 5px;
    }
    .formleft {
        width: 45%;
        max-width: 100%;
        margin-left: 2%;
        box-sizing: border-box;
        button {
            width: 28%;
        }
        input {
            width: 35%;
        }
    }
    .formright {
        width: 45%;
        max-width: 100%;
        margin-right: 0;
        box-sizing: border-box;
        input {
            width: 54%;
        }
        button {
            width: 40%;
            margin-left: 4%;
        }
    }
}

body {
    @media screen and (max-width: 1025px) {
        .thirdsection {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-top: 0;
            .container {
                padding-top: 15px;
            }
            .forms {
                box-sizing: border-box;
                margin: 0 10px 0 10px;
            }
            div.formleft {
                margin-bottom: 15px;
            }
        }
    }
}

body {
    @media screen and (max-width: 600px) {
        .thirdsection {
            fieldset {
                text-align: center;
            }
            div.formleft,
            div.formright {
                letter-spacing: normal;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h3 {
                    margin: auto;
                }
                input {
                    width: 100%;
                    margin: auto;
                    margin-bottom: 10px;
                }
                button {
                    width: 40%;
                    margin: auto;
                }
            }
        }
    }
}
