.secondsection {
    padding-top:30px;
    p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-size: 1.1em; 
        line-height: 1;
    }
    h2 {
        font-size: 2.5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
    }
    .chaykatext img {
        float: left;
        margin-right: 10px;
    }
    div.chaykatext {
        margin-top: 15px;
        margin-left: 25px;
    }
    div.thirdsection {
        border-top:3px solid gray;
        padding-top: 25px;
        margin-top:70px;
        box-sizing: border-box;
        width: 100%;
    }
    div.forms {
        padding: 10px;
        box-sizing: border-box;
        border-radius:5px;
    }
    .formleft {
        background-color: #e67624;  
        input {
        width:35%;
        background-color: #e8e8e8; 
        }
        button {
            width:20%;
        }
    }
    .formright {
        background-color: #01d4f3;
    }
}