.secondsection {
    text-align: center;
    padding-top: 30px;
    p {
        font-family: Raleway,sans-serif;
        font-size: 16px;
        line-height: 1;
        padding-left: 20px;
        font-weight: 700;
    }
    h2 {
        font-size: 50px;
        font-family: Raleway,sans-serif;
        line-height: 1;
        font-weight: 700;
    }
    div.chaykatext img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    div.chaykatext {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .browser img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .choose-us {
        box-sizing: border-box;
        width: 90%;
        margin: auto;
    }
}

body {
    @media screen and (max-width: 1250px) {
        .secondsection {
            text-align: center;
            h2 {
                font-size: 32px;
                margin-top: 2%;
                margin-bottom: 0;
                font-family: Raleway,sans-serif;
                font-weight: 700;
            }
            p {
                letter-spacing: normal;
                font-size: 17px;
                font-family: Raleway,sans-serif;
                font-weight: 700;
            }
            .choose-us {
                width: 90%;
                margin: auto;
            }
        }
    }
}

body {
    @media screen and (max-width: 1020px) {
        .secondsection {
            text-align: center;
            div.choose-us {
                display: flex;
                justify-content: space-around; 
            }
            h2 {
                letter-spacing: normal;
                margin-bottom: 0;
            }
            .browser {
                width: 80%;
                margin: auto;
            }
            .choose-us {
                width: 70%;
                margin: auto;
               
                p {
                    font-size: 17px;
                    line-height: normal;
                    text-align: left;
                }
            }
            .chaykatext {
                justify-content: start;
                img {
                    left: 0;
                }
            }
        }
    }
}
body {
    @media screen and (max-width: 850px) {
        .secondsection {
            h2 {
                margin-bottom: 20px;
                font-size: 30px; 
            }
            div.choose-us {
                display: flex;
                justify-content: space-around; 
            }


        }
    }
}
