div.firstsection {
    font-family: Raleway,sans-serif;
    .content {
        display: none;
    }
    .visible {
        display: block;
    }
    a {
        display: block;
        text-decoration: none;
        color: gray;
        font-size: 30px;
        font-weight: 400;
    }
    .active-menu {
        margin-bottom: -4px;
        z-index: 100;
        background-color: whitesmoke;
        border: gray solid;
        border-width: 3px 3px 0 3px;
        box-sizing: border-box;
        border-bottom: 4px solid white;
        a {
            font-weight: 700;
        }
    }
    .content {
        border: 3px gray solid;
        margin-top: 0px;
        margin: auto;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        box-sizing: border-box;
        z-index: 99;
        border-radius: 5px;
        img {
            max-width: 75%;
            height: auto;
        }
        h2 {
            font-size: 50px;
            font-weight: 700;
        }
        p,
        h2 {
            color: gray;
            line-height: 1.5;
        }
        
    }
    .content-menu {
        margin: auto;
    }
    .pure-u-1-4 {
        text-align: center;
    }
    .pure-img {
        margin: auto;
        display: inline;
    }
}

//medium screen
body {
    @media screen and (max-width: 900px) {
        div.firstsection {
            div.content {
            h2 {
                font-size: 30px;    
            }
        }
            p {
                font-size: 15px;
            }
            
        }
        .content-menu {
            img {
                max-width: 90%;
                height: auto;
                padding-top: 5px;
            }
            a {
                font-size: 15px;
            }
            
        }
    }
}
